---
import Layout from '../layouts/Layout.astro'
const name = "I'm a hero!"
---

<Layout title="Vue Designer Astro Tailwind CSS - Quick start template">
  <span></span>A Fresh Start!
</Layout>

<style></style>
